pkgbase = github-desktop-bin
	pkgdesc = GUI for managing Git and GitHub.
	pkgver = 3.4.1_linux1
	pkgrel = 1
	url = https://desktop.github.com
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	depends = curl
	depends = git
	depends = libsecret
	depends = libxss
	depends = nspr
	depends = nss
	depends = org.freedesktop.secrets
	depends = unzip
	optdepends = hub: CLI interface for GitHub.
	provides = github-desktop
	conflicts = github-desktop
	source = github-desktop.desktop
	sha256sums = 932e4c456e8c6db03d27172cf0daa37806bf025bb560d8b3d758c0997d1a618c
	source_x86_64 = https://github.com/shiftkey/desktop/releases/download/release-3.4.1-linux1/GitHubDesktop-linux-amd64-3.4.1-linux1.deb
	sha256sums_x86_64 = 0479d627fa65cd211d235bf870ee94f20a9be1e57a28fd490eef197f1f5ebf16
	source_aarch64 = https://github.com/shiftkey/desktop/releases/download/release-3.4.1-linux1/GitHubDesktop-linux-arm64-3.4.1-linux1.deb
	sha256sums_aarch64 = be2c9cdca4a76d907de45f1a9b24b905e2a63db293e313f00d7e274b6db9b26b
	source_armv7h = https://github.com/shiftkey/desktop/releases/download/release-3.4.1-linux1/GitHubDesktop-linux-armhf-3.4.1-linux1.deb
	sha256sums_armv7h = 162061260df1597863e6f744a84527f44ecff15923696c246f00c0b7fa095e18

pkgname = github-desktop-bin
