pkgbase = github-desktop-bin
	pkgdesc = GUI for managing Git and GitHub.
	pkgver = 3.4.4_linux1
	pkgrel = 1
	url = https://desktop.github.com
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	depends = curl
	depends = git
	depends = libsecret
	depends = libxss
	depends = nspr
	depends = nss
	depends = org.freedesktop.secrets
	depends = unzip
	optdepends = hub: CLI interface for GitHub.
	provides = github-desktop
	conflicts = github-desktop
	source = github-desktop.desktop
	sha256sums = 932e4c456e8c6db03d27172cf0daa37806bf025bb560d8b3d758c0997d1a618c
	source_x86_64 = https://github.com/shiftkey/desktop/releases/download/release-3.4.4-linux1/GitHubDesktop-linux-amd64-3.4.4-linux1.deb
	sha256sums_x86_64 = 1118c45c47684b5da70ceb0ec915753ca2bfb9718507d4512ab33308f7ef19c0
	source_aarch64 = https://github.com/shiftkey/desktop/releases/download/release-3.4.4-linux1/GitHubDesktop-linux-arm64-3.4.4-linux1.deb
	sha256sums_aarch64 = 0b28ab17dac0d5c53b38568f9102c5b49567a660309cc2f5dddce3a97c0f6eb2
	source_armv7h = https://github.com/shiftkey/desktop/releases/download/release-3.4.4-linux1/GitHubDesktop-linux-armhf-3.4.4-linux1.deb
	sha256sums_armv7h = 34785830501c4c77345195f387c2b694a990a015d1cdbc51ca2a922eb50e49b3

pkgname = github-desktop-bin
