pkgbase = github-desktop-bin
	pkgdesc = GUI for managing Git and GitHub.
	pkgver = 3.3.14_linux1
	pkgrel = 1
	url = https://desktop.github.com
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	depends = curl
	depends = git
	depends = libsecret
	depends = libxss
	depends = nspr
	depends = nss
	depends = org.freedesktop.secrets
	depends = unzip
	optdepends = hub: CLI interface for GitHub.
	provides = github-desktop
	conflicts = github-desktop
	source = github-desktop.desktop
	sha256sums = 932e4c456e8c6db03d27172cf0daa37806bf025bb560d8b3d758c0997d1a618c
	source_x86_64 = https://github.com/shiftkey/desktop/releases/download/release-3.3.14-linux1/GitHubDesktop-linux-amd64-3.3.14-linux1.deb
	sha256sums_x86_64 = 1dac459e4726631c725fd1eb68a11a01fbba32e721951d06ff49ad173ece0631
	source_aarch64 = https://github.com/shiftkey/desktop/releases/download/release-3.3.14-linux1/GitHubDesktop-linux-arm64-3.3.14-linux1.deb
	sha256sums_aarch64 = a68b5769c19fc00961c7cd48504093a9ed7db046dbc331af76a5ecf8096b0e59
	source_armv7h = https://github.com/shiftkey/desktop/releases/download/release-3.3.14-linux1/GitHubDesktop-linux-armhf-3.3.14-linux1.deb
	sha256sums_armv7h = 34fb921e44a13419657433229b7f007592b338acd9edbac2eb3ad2f440d05339

pkgname = github-desktop-bin
